/** Import google fonts Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Source+Sans+Pro:wght@700&display=swap');

video {
    width: 100%;
    height: auto;
}

/* necesario para que la navbar se muestre por encima del video*/
header {
    z-index: 2;
}

/** Esquema de colores */
:root {
    --primario: #f2b933;
    --primario-transparente: rgb(242, 185, 51, 0.8);
    --secundario: #000;
    --fondo: #222;
    --fondo-transparente: rgba(0, 0, 0, 0.8);
    --superficie: #444;
    --sombra-color: #000;
    --error: #b00020;
    --en-primario: #000;
    --en-secundario: #fff;
    --en-superficie: #fff;
    --en-error: #fff;

    --sombra: 5px 5px 5px var(--sombra-color);
}

/* bordes para depurar */
.borde-rojo {
    border: 1px solid red;
}

.borde-azul {
    border: 1px solid blue;
}

.borde-verde {
    border: 1px solid green;
}

/* Tema */
.primario {
    background-color: var(--primario);
    color: var(--en-primario);
}

.secundario {
    background-color: var(--secundario);
    color: var(--en-secundario);
}

.superficie {
    background-color: var(--superficie);
    color: var(--en-superficie);
}

.error {
    background-color: var(--error);
    color: var(-en-error);
}

.fondo {
    background-color: var(--background);
    color: var(--en-secundario);
}

.en-primario {
    color: var(--en-primario);
}

.en-superficie {
    color: var(--en-superficie)
}

/* flota los links de navegacion a la derecha */
.navbar-collapse {
    text-align: end;
    flex-direction: row-reverse;
}

/* Necesario porque los nav-links son elementos a sin href lo que causa que no tengan cursor:pointer */
.nav-link, .navbar-brand {
    cursor: pointer;
}

/* se asegura que el texto del nav-link resaltado (secundario) no pase a negro (que no se veria) on hover */
.secundario .nav-link {
    color: white;
}

/* fija el tamaño del logo de marca*/
.navbar-brand img {
    width: 6rem;
    height: auto;
}

.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
}

/* el scroll-margin-top se asegura de que la navegación no deje parte del contenido detras de la barra de navegación*/
.destino-nav {
    scroll-margin-top: 5rem;
}

.sombra {
    box-shadow: 0 0.2rem 2rem 1rem rgba(0,0,0,0.8);
}