/** Import google fonts Outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Source+Sans+Pro:wght@700&display=swap');

/** Esquema de colores */
:root {
    --primario: #f2b933;
    --primario-transparente: rgb(242, 185, 51, 0.8);
    --secundario: #000;
    --fondo: #222;
    --fondo-transparente: rgba(0, 0, 0, 0.8);
    --superficie: #444;
    --sombra-color: #000;
    --error: #b00020;
    --en-primario: #000;
    --en-secundario: #fff;
    --en-superficie: #fff;
    --en-error: #fff;

    --sombra: 5px 5px 5px var(--sombra-color);
}

/* bordes para depurar */
.borde-rojo {
    border: 1px solid red;
}

.borde-azul {
    border: 1px solid blue;
}

.borde-verde {
    border: 1px solid green;
}

/* Tema */
.primario {
    background-color: var(--primario);
    color: var(--en-primario);
}

.secundario {
    background-color: var(--secundario);
    color: var(--en-secundario);
}

.superficie {
    background-color: var(--superficie);
    color: var(--en-superficie);
}

.error {
    background-color: var(--error);
    color: var(-en-error);
}

.fondo {
    background-color: var(--background);
    color: var(--en-secundario);
}

.en-primario {
    color: var(--en-primario);
}

.en-superficie {
    color: var(--en-superficie)
}

.navbar-collapse {
    text-align: end;
    flex-direction: row-reverse;
}

.nav-link {
    cursor: pointer;

}

.nav-link.secundario {
    color: white;
}

.navbar-brand img {
    width: 5rem;
    height: auto;
}

#viajemos, #galeria, #nosotros {
    scroll-margin-top: 5rem;
}