.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom: 2rem;
	right: 2rem;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 0.2rem 0.3rem 1rem black;
    z-index:100;
}

.my-float{
	margin-top:16px;
}